<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal webpage built for and by Alin Stefan Olaru">
    <meta name="theme-color" content="#222">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="files/images/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <title>Alin Stefan Olaru - Junior Software Developer</title>    
</head>
<body>
    <div id="top"></div>
    <header class="cover">
        <div class="inner">
            <div class="content">
                <div class="name" title="Woah, that's my name!">
                    Alin Stefan Olaru
                </div>
                <div class="title" title="(Currently Unemployed)">
                    Junior Software Developer
                </div>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="#intro">About</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#knowledge">Knowledge</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#starredgithub">Demos</a></li>
            <li><a href="files/pdf/resume.pdf" target="_blank">Resume</a></li>
        </ul>
    </nav>
    <div class="container main">
        <section id="intro">
            <header>
                <h1>About</h1>
            </header>
            <figure>
                <img v-bind:src="avatar" id="gh_avatar" title="Hopefully an image of my face. Fetched from GitHub. Might be off-centered...">
            </figure>
            <div class="text">
                <p>
                    <i>Software Engineering Graduate with core competences in designing and developing applications and user interfaces using ASP.NET Framework including C#, JavaScript, JQuery, HTML5, CSS3, and Git as main technologies.</i>
                </p>
                <p>
                    Hello there! My name is Alin, I'm a <span id="age"></span> year Romanian guy currently living in Denmark. <br>
                    I moved here back in 2014 in order to study ICT Engineering at <a href="https://en.via.dk/" target="_blank">VIA University College</a>, which of course I graduated back in February 2018. Back in High School I actually studied Social Sciences due to the fact that I wasn't best friends with the study system back home, and I had pretty much zero chances to pursue my one passion since I was a child: <strong>Computer Engineering.</strong><br>
                    By moving in Denmark I had a chance to pretty much have a 'fresh start' and I finally got a chance to achieve my dream. I went through college without failing a single class and I did so by gaining above average grades.
                </p>                        
            </div>
        </section>
        <hr>
        <section id="education">
            <header>
                <h1>Education</h1>
            </header>
            <div v-for="school in education">
                <div class="experience">
                    <div class="logo">
                        <img v-bind:src="school.uniLogo" alt="Logo">
                    </div>
                    <div class="title">{{ school.uniName }}</div>
                    <div class="company">{{ school.studyField }}</div>
                    <div class="timeperiod">{{ school.date.from }} - {{ school.date.until }}</div>
                    
                    <a data-toggleid="courses" class="toggle"><span class="badge badge-success">Toggle Courses</span></a>
                    <div class="toggle-area" data-toggleid="courses">
                        <b>Courses:</b>
                        <span class="badge badge-success" v-for="key in school.courses" v-bind:title="key">{{key}}</span>
                    </div>
                </div>
                <hr>
            </div>
        </section>
        <section id="knowledge">
            <header>
                <h1>Knowledge</h1>
            </header>
            <p>A few relevant technologies/tools, somewhat categorised.</p>
            <div id="progressBars">
                <aside v-for="bar in bars" class="bars">
                    <div class="container">
                        <center><h3>{{bar.title}}</h3></center>
                        <hr>
                        <div class="progress" v-for="dataSet in bar.data">
                            <div class="progress-bar bg-success" role="progressbar" v-bind:style="dataSet.style" v-bind:aria-valuenow="dataSet.value" aria-valuemin="0" aria-valuemax="100">{{dataSet.name}}: {{dataSet.value}} / 100</div>
                        </div>
                    </div>
                </aside>
            </div>
            
        </section>
        <hr>
        <section id="experience">
            <header>
                <h1>Experience</h1>
            </header>
            <div v-for="job in experience">
                <div class="experience">
                    <div class="logo">
                        <img v-bind:src="job.companyLogo" alt="Logo">
                    </div>
                    <div class="title">{{ job.title }}</div>
                    <div class="company">{{ job.companyName }}</div>
                    <div class="timeperiod">{{ job.timePeriod.from }} - {{ job.timePeriod.until }}</div>
                    <div class="description">{{job.description}}</div>
                    <b>Gained experience with:</b>
                    <span class="badge badge-success" v-for="key in job.keywords" v-bind:title="key">{{key}}</span>
                </div>
                <hr>
            </div>
        </section>
        <section id="starredgithub">
            <header>
                <h1>Demos (Portfolio)</h1>
            </header>
            <p>Not precisely a "portfolio". This section is automatically generated. It contains some of my own GitHub repositiories that I shamelessly starred in order to be able to access them via GitHub's API. I'm aware that starring your own repositories is kind of 'meh' and that I'm calling for GitHub's API with every page visit (which sadly there's not many), but I'm looking on ways to improve this :)</p>
            <hr>
            <h2>this</h2>
            <p>Literally this website. I'm maintaining a repository on GitHub. You might be able to see different versions of the websites, or the entire progress I've been through.</p>
            <ul>
                <li><a href="https://github.com/xShteff/alinstefanola.ru/" target="_blank">Repo</a></li>
            </ul>
            <hr>
            <div v-for="git in selfStarred">
                <h2>{{ git.name }}</h2>
                <p>{{git.description}}</p>
                <ul>
                    <li><a v-bind:href="git.html_url" target="_blank">Repo</a></li>
                </ul>
                <hr>
            </div>  
        </section>
    </div>
    
    <div class="backToTop" style="display:none;"><a href="#top"><img src="files/images/top.png" title="Back to top"></a></div>
    <footer id="social">
        <p>Copyright &copy; <span id="currentYear"></span> Alin-Stefan Olaru</p>
        <ul id="socialLinks">
            <li v-for="socialLink in socialLinks">
                <a v-bind:href="socialLink.url" v-bind:target="socialLink.target"><div class="social-media" v-bind:class="socialLink.cname"></div></a>
            </li>
        </ul>
    </footer>
    <script src="files/js/lazydates.js"></script>
    <script src="files/js/scroller.js"></script>
    <script src="files/js/bar.js"></script>
    <script src="files/js/toggle.js"></script>

    <script src="files/js/data/portfolio.js"></script>
    <script src="files/js/data/experience.js"></script>
    <script src="files/js/data/socialmedia.js"></script>
    <script src="files/js/data/bars.js"></script>
    <script src="files/js/data/education.js"></script>
</body>
</html>