@import url('https://fonts.googleapis.com/css?family=Acme|Dancing+Script|Permanent+Marker');

:root {
    --name-card-border: 20px;
    --box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, 0.75);
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #a3a1a1;
    background-image: url('images/notebook.png');
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.5);
}

.name-card {
    max-width: 500px;
    text-align: center;
    border-radius: var(--name-card-border);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    transform: rotate(-15deg);
    position: relative;
    left: -150px;
    float: left;
}

.name-card .header {
    background: rgba(255, 0, 0, 1);
    border-top-left-radius: var(--name-card-border);
    border-top-right-radius: var(--name-card-border);
    padding: 15px 0;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
    font-family: 'Acme', sans-serif;
    font-size: 40px;
}

.name-card .header .hello {
    font-size: 40px;
    text-transform: uppercase;
}

.name-card .body {
    padding: 50px 0;
    font-family: 'Permanent Marker', cursive;
    overflow: visible;
    background: rgba(255, 255, 255, 1);
}

.name-card .body .name {
    position: relative;
    font-size: 50px;
    transform: rotate(-5deg);
}

.name-card .end {
    background: rgba(255, 0, 0, 1);
    border-bottom-left-radius: var(--name-card-border);
    border-bottom-right-radius: var(--name-card-border);
    padding: 10px 0;
}

.arrow-one {
    position: relative;
    top: 153px;
    right: 90px;
}

.polaroid {
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    max-width: 400px;
    background: rgb(255, 255, 255);
    float: right;
    transform: rotate(14deg);
}

.polaroid .image img {
    max-width: -moz-available;
    padding: 20px 20px 0px 20px;
}

.polaroid .text {
    padding: 0px 10px 20px 10px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}
