@import url('https://fonts.googleapis.com/css?family=Jura|Playball|Sacramento|Shadows+Into+Light+Two|Quicksand');

:root {
    --footer-color: rgb(0, 0, 0);
    --skills-color: rgb(50, 185, 106);
}

#site {
    height: 100%;
    width: 100%;
    right: 0;
    transition: right 1s ease;
    position: relative;
}

#site.toggled {
    right: 200px;
}

.menu {
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(69, 69, 69, 1);
    width: 200px;
    right: -200px;
    transition: right 1s ease;
}

.menu.toggled {
    right: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.right {
    float: right;
}

.left {
    float: left;
}

.italic {
    font-style: italic;
}

p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

a {
    text-decoration: none;
}

a:link {
    color: rgba(255, 255, 255, 1);
}

a:visited {
    color: rgba(255, 255, 255, 1);
}

a:active {
    color: rgba(255, 255, 255, 1);
}

a:hover {
    color: rgba(69, 69, 69, 0.5);
}

.tile.full {
    height: 100%;
    padding: 0;
}

.tile {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.tile .content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

ul.inline-list {
    list-style: none;
}

ul.inline-list li {
    cursor: pointer;
    display: inline;
    margin-right: 10px;
    padding: 10px;
}

.navbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: right;
    background: rgba(0, 0, 0, 0.2);
    display: table;
    z-index: 1000;
    transition: background 1s ease;
    transition: width 1s ease;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
}

.navbar.toggled {
    width: calc(100% - 200px);
}

.navbar #logo {
    float: left;
    color: white;
}

.navbar ul {
    float: right;
}

#logo img {
    height: 40px;
    position: relative;
    left: 10px;
    top: 10px;
}

#menuToggle {
    float: right;
    color: rgba(255, 255, 255, 1);
    margin-right: 25px;
    cursor: pointer;
    line-height: 50px;
}

/*Landing*/
@keyframes b1 {
    0% {
        width: 1px;
        height: 5px;
        left: 50%;
        position: relative;
        top: 55px;
    }

    33% {
        width: 100%;
        left: 0;
        position: relative;
        top: 55px;
    }

    66% {
        width: 100%;
        left: 0;
        position: relative;
        top: 0;
    }

    100% {
        width: 0;
        height: 5px;
        left: 50%;
        position: relative;
        top: 0px;
    }
}

@keyframes b2 {
    0% {
        width: 1px;
        height: 5px;
        left: 50%;
        position: relative;
        bottom: 55px;
    }

    33% {
        width: 100%;
        left: 0;
        position: relative;
        bottom: 55px;
    }

    66% {
        width: 100%;
        left: 0;
        position: relative;
        bottom: 0px;
    }

    100% {
        width: 0;
        height: 5px;
        left: 50%;
        position: relative;
        bottom: 0px;
    }
}

@keyframes name {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.animation-container {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#b1 {
    background: rgb(0, 255, 128);
    animation: b1 4s ease 0s 1 normal forwards;
    border-radius: 2px;
}

#b2 {
    background: rgb(0, 255, 128);
    animation: b2 4s ease 0s 1 normal forwards;
    border-radius: 2px;
}

#landing {
    background: url('backgrounds/bgsmaller.jpg') no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#landing .content {
    top: calc(50% - 50px);
    font-size: 35px;
    color: rgba(255, 255, 255, 0.8);
}

#name {
    color: rgb(255, 255, 255);
    font-size: 50px;
    animation: name 4s ease 0s 1 normal forwards;
}

#title {
    color: rgb(8, 228, 100);
    animation: name 4s ease 0s 1 normal forwards;
}

#headshot {
    width: 200px;
    border-radius: 25%;
    filter: grayscale(100%) contrast(1.3);
}
/*Introduction*/
#intro {
    background: url('backgrounds/DSC_0395.JPG') no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(50%) contrast(1.4);
}

#intro .content {
    width: 80%;
    font-size: 20px;
    padding: 50px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
/*Skills*/
#skills {
    background: var(--skills-color);
    padding-bottom: 60px;
    position: relative;
}

#skills:before {
    background: linear-gradient(-45deg, var(--skills-color) 16px, transparent 0),
        linear-gradient(45deg, var(--skills-color) 16px, transparent 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: ' ';
    display: block;
    position: absolute;
    top: -32px;
    left: 0px;
    width: 100%;
    height: 32px;
}

#skills:after {
    background: linear-gradient(225deg, var(--skills-color) 16px, transparent 0),
        linear-gradient(135deg, var(--skills-color) 16px, transparent 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: ' ';
    display: block;
    position: absolute;
    bottom: -32px;
    left: 0px;
    width: 100%;
    height: 32px;
    z-index: 2;
}

#skills .content {
    color: rgba(255, 255, 255, 1);
    width: 80%;
    padding: 50px 0 100px 0;
}

#skills .content .exp-bullet {
    background: rgb(69, 69, 69);
    border: 1px solid rgb(0, 0, 0);
    transition: background 1s ease;
    cursor: pointer;
}

#skills .content .exp-bullet:hover {
    background: rgba(69, 69, 69, 0.8);
}

.bar-container {
    margin-bottom: 20px;
}

.bar {
    height: 50px;
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    text-align: left;
    line-height: 50px;
    color: rgb(0, 0, 0);
}

.bar .label {
    margin-left: 10px;
    color: rgb(50, 185, 106);
    font-weight: bold;
}

/*Experience*/
#experience {
    background: rgba(69, 69, 69, 1);
    padding-bottom: 40px;
    position: relative;
}

#experience .content {
    color: rgb(0, 0, 0);
    width: 80%;
    padding: 50px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    position: relative;
    bottom: 65px;
    box-shadow: 4px 3px 10px -3px rgba(0, 0, 0, 0.75);
    z-index: 3;
}

.slider {
    text-align: center;
    padding: 0 25px;
}

.slider .slide {
    min-height: 400px;
    background: rgb(5, 85, 39);
    padding: 20px 10px 30px 10px;
    border-radius: 5px;
    box-shadow: 4px 3px 10px -3px rgba(0, 0, 0, 0.75);
}

#experience .content .slider {
    height: auto;
}

#experience .content .slider-controls {
    bottom: 200px;
}

#experience .content .slider .timeperiod {
    margin-bottom: 20px;
}

.logo {
    height: 200px;
}

.slider .company {
    font-size: 30px;
}

.slider .description {
    font-style: italic;
}

.slider-controls {
    position: relative;
    font-size: 50px;
    top: 255px;
}

.slider-controls .prev {
    float: left;
    cursor: pointer;
    position: relative;
    right: 15px;
}

.carousel-control-next .next {
    float: right;
    cursor: pointer;
    position: relative;
    left: 15px;
}

a[class^='carousel-control-'] {
    font-size: 66px;
    color: rgb(0, 0, 0);
}

a[class^='carousel-control-'] .control {
    color: rgb(0, 0, 0);
}

.exp-bullet {
    background: rgb(14, 148, 59);
    border: 1px solid rgb(5, 85, 39);
    border-radius: 5px;
    padding: 5px;
    margin-left: 2px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
}

.job {
    margin-bottom: 20px;
}

.titles {
    font-size: 20px;
    margin-top: 20px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

/*Recommendations*/
#recommendations {
    background: url('backgrounds/DSC_0085.JPG') no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(50%) contrast(1.4);
    border-top: 1px solid rgb(69, 69, 69);
}

#recommendations .content {
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    width: 80%;
    padding: 50px;
}

.column {
    width: 30%;
    float: left;
}

.clear {
    clear: both;
}

/*Demos*/
#demos {
    background: rgb(50, 185, 106);
}

#demos .content {
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    width: 80%;
    padding: 50px;
}

/*Contact*/
#contact {
    background: var(--footer-color);
    color: rgb(255, 255, 255);
    position: relative;
    padding: 100px 0;
}

#contact:before {
    background: linear-gradient(-45deg, var(--footer-color) 16px, transparent 0),
        linear-gradient(45deg, var(--footer-color) 16px, transparent 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: ' ';
    display: block;
    position: absolute;
    top: -32px;
    left: 0px;
    width: 100%;
    height: 32px;
}
ul#socialLinks {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#socialLinks li {
    width: 40px;
    height: 40px;
    display: inline-block;
    opacity: 0.8;
    margin-left: 5px;
    margin-right: 5px;
}
.social-media {
    width: 40px;
    height: 40px;
    background-image: url('social_media.png');
    opacity: 0.3;
    filter: drop-shadow(2px 2px 2px #222);
    transition: all 0.5s;
}

.social-media:hover {
    opacity: 1;
    transform: rotateZ(20deg);
}

.social-media.linkedin {
    background-position: 0px 0;
}

.social-media.github {
    background-position: 40px 0;
}

.social-media.email {
    background-position: 80px 0;
}

.social-media.skype {
    background-position: 120px 0;
}

.social-media.facebook {
    background-position: 160px 0;
}

.demo-links {
    color: white;
    text-decoration: none;
}

.demo-links li {
    list-style: none;
}

@media screen and (max-width: 1000px) {
    #experience .content {
        width: 100%;
        padding: 40px 0;
    }

    .slider-controls .next {
        left: -5px;
    }

    .slider-controls .prev {
        right: -5px;
    }

    #demos .content {
        width: 100%;
        padding: 40px 0;
    }
}

@media screen and (max-width: 600px) {
    #landing,
    #intro,
    #recommendations {
        background-attachment: unset;
    }

    #intro .content {
        font-size: inherit;
    }
}

@media screen and (max-width: 430px) {
    #landing .content {
        font-size: 20px;
    }

    #name {
        font-size: 30px;
    }

    @keyframes b1 {
        0% {
            width: 1px;
            height: 5px;
            left: 50%;
            position: relative;
            top: 35px;
        }

        33% {
            width: 100%;
            left: 0;
            position: relative;
            top: 35px;
        }

        66% {
            width: 100%;
            left: 0;
            position: relative;
            top: 0;
        }

        100% {
            width: 0;
            height: 5px;
            left: 50%;
            position: relative;
            top: 0px;
        }
    }

    @keyframes b2 {
        0% {
            width: 1px;
            height: 5px;
            left: 50%;
            position: relative;
            bottom: 35px;
        }

        33% {
            width: 100%;
            left: 0;
            position: relative;
            bottom: 35px;
        }

        66% {
            width: 100%;
            left: 0;
            position: relative;
            bottom: 0px;
        }

        100% {
            width: 0;
            height: 5px;
            left: 50%;
            position: relative;
            bottom: 0px;
        }
    }
}

@media screen and (min-width: 430px) {
    .glitch {
        color: white;
        font-size: 100px;
        position: relative;
        width: 400px;
        margin: 0 auto;
    }

    @keyframes noise-anim {
        0% {
            clip: rect(10px, 9999px, 81px, 0);
        }
        5% {
            clip: rect(63px, 9999px, 28px, 0);
        }
        10% {
            clip: rect(22px, 9999px, 82px, 0);
        }
        15% {
            clip: rect(17px, 9999px, 45px, 0);
        }
        20% {
            clip: rect(100px, 9999px, 91px, 0);
        }
        25% {
            clip: rect(43px, 9999px, 23px, 0);
        }
        30% {
            clip: rect(37px, 9999px, 82px, 0);
        }
        35% {
            clip: rect(72px, 9999px, 12px, 0);
        }
        40% {
            clip: rect(35px, 9999px, 75px, 0);
        }
        45% {
            clip: rect(90px, 9999px, 32px, 0);
        }
        50% {
            clip: rect(71px, 9999px, 49px, 0);
        }
        55% {
            clip: rect(5px, 9999px, 16px, 0);
        }
        60% {
            clip: rect(40px, 9999px, 97px, 0);
        }
        65% {
            clip: rect(58px, 9999px, 68px, 0);
        }
        70% {
            clip: rect(21px, 9999px, 59px, 0);
        }
        75% {
            clip: rect(14px, 9999px, 30px, 0);
        }
        80% {
            clip: rect(39px, 9999px, 41px, 0);
        }
        85% {
            clip: rect(44px, 9999px, 36px, 0);
        }
        90% {
            clip: rect(86px, 9999px, 80px, 0);
        }
        95% {
            clip: rect(31px, 9999px, 82px, 0);
        }
        100% {
            clip: rect(70px, 9999px, 46px, 0);
        }
    }
    .glitch:after {
        content: attr(data-text);
        position: absolute;
        left: 7px;
        text-shadow: -1px 0 rgb(255, 0, 0);
        top: 0;
        color: white;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim 2s infinite linear alternate-reverse;
    }

    @keyframes noise-anim-2 {
        0% {
            clip: rect(18px, 9999px, 96px, 0);
        }
        5% {
            clip: rect(83px, 9999px, 64px, 0);
        }
        10% {
            clip: rect(65px, 9999px, 5px, 0);
        }
        15% {
            clip: rect(59px, 9999px, 83px, 0);
        }
        20% {
            clip: rect(95px, 9999px, 71px, 0);
        }
        25% {
            clip: rect(42px, 9999px, 84px, 0);
        }
        30% {
            clip: rect(75px, 9999px, 12px, 0);
        }
        35% {
            clip: rect(93px, 9999px, 57px, 0);
        }
        40% {
            clip: rect(49px, 9999px, 42px, 0);
        }
        45% {
            clip: rect(66px, 9999px, 23px, 0);
        }
        50% {
            clip: rect(11px, 9999px, 69px, 0);
        }
        55% {
            clip: rect(29px, 9999px, 39px, 0);
        }
        60% {
            clip: rect(55px, 9999px, 46px, 0);
        }
        65% {
            clip: rect(3px, 9999px, 44px, 0);
        }
        70% {
            clip: rect(26px, 9999px, 9px, 0);
        }
        75% {
            clip: rect(76px, 9999px, 81px, 0);
        }
        80% {
            clip: rect(18px, 9999px, 86px, 0);
        }
        85% {
            clip: rect(13px, 9999px, 27px, 0);
        }
        90% {
            clip: rect(93px, 9999px, 62px, 0);
        }
        95% {
            clip: rect(93px, 9999px, 21px, 0);
        }
        100% {
            clip: rect(96px, 9999px, 57px, 0);
        }
    }
    .glitch:before {
        content: attr(data-text);
        position: absolute;
        left: 5px;
        text-shadow: 1px 0 rgb(8, 228, 100);
        top: 0;
        color: white;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim-2 3s infinite linear alternate-reverse;
    }
}
