@import url('https://fonts.googleapis.com/css?family=Jura|Playball|Sacramento|Shadows+Into+Light+Two|Quicksand');

#site {
    height: 100%;
    width: 100%;
    right: 0;
    transition: right 1s ease;
    position: relative;
}

#site.toggled {
    right: 200px;
}

.menu {
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(69, 69, 69, 1);
    width: 200px;
    right: -200px;
    transition: right 1s ease;
}

.menu.toggled {
    right: 0;
}

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.right {
    float: right;
}

.left {
    float:left;
}

.italic {
    font-style:italic;
}


p {
    margin:0;
    margin-bottom:10px;
    padding:0;
}

.tile.full {
    height:100%;
    padding: 0;
}

.tile {
    width: 100%;
    text-align: center;
    padding: 20px 0; 
}


.tile .content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

ul.inline-list {
    list-style: none;
}

ul.inline-list li {
    cursor: pointer;
    display: inline;
    margin-right: 10px;
    padding: 10px;
}

.navbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: right;
    background: rgba(0,0,0, 0.2);
    display:table;
    z-index: 1000;
    transition: background 1s ease;
    transition: width 1s ease;
}

.navbar.fixed {
    position:fixed;
    top:0;
    background: rgba(0,0,0, 0.8);
}

.navbar.toggled {
    width: calc(100% - 200px);
}

.navbar #logo {
    float:left;
    color:white;
}

.navbar ul {
    float:right;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:link {
    color:  rgba(255, 255, 255, 1);
}

.navbar ul li a:visited {
    color:  rgba(255, 255, 255, 1);
}

.navbar ul li a:active {
    color:  rgba(255, 255, 255, 1);
}

.navbar ul li a:hover{
    color: rgba(69, 69, 69, 0.5);
}

#logo img {
    height:40px;
    position: relative;
    left:10px;
    top:10px;
}

#menuToggle {
    float:right;
    color: rgba(255, 255, 255, 1);
    margin-right: 25px;
    cursor: pointer;
    line-height: 50px;
}

/*Landing*/
@keyframes b1 {
    0% {
        width: 1px;
        height: 5px;
        left: 50%;
        position: relative;
        top:55px;
    }

    33% {
        width: 100%;
        left: 0;
        position: relative;
        top: 55px;
    }

    66% {
        width: 100%;
        left: 0;
        position: relative;
        top:0;
    }

    100% {
        width: 0;
        height: 5px;
        left: 50%;
        position: relative;
        top:0px;
    }
}

@keyframes b2 {
    0% {
        width: 1px;
        height: 5px;
        left: 50%;
        position: relative;
        bottom:55px;
    }

    33% {
        width: 100%;
        left: 0;
        position: relative;
        bottom:55px;
    }

    66% {
        width: 100%;
        left: 0;
        position: relative;
        bottom:0px;
    }

    100% {
        width: 0;
        height: 5px;
        left: 50%;
        position: relative;
        bottom:0px;
    }
}

@keyframes name { 
    0% {
        opacity:0;
    }

    33% {
        opacity:0;
    }

    66% {
        opacity:1;
    }

    100% {
        opacity:1;
    }
}

.animation-container {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#b1 {
    background:rgb(0, 255, 128);;
    animation: b1 4s ease 0s 1 normal forwards;
    border-radius:2px;
}

#b2 {
    background:rgb(0, 255, 128);;
    animation: b2 4s ease 0s 1 normal forwards;
    border-radius:2px;
}

#landing {
    background:url('backgrounds/bgsmaller.jpg') no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

#landing .content {
    top: calc(50% - 50px);
    font-size: 35px;
    color: rgba(255, 255, 255, 0.8);
}

#name {
    color: rgb(255, 255, 255);
    font-size: 50px;
    animation: name 4s ease 0s 1 normal forwards;
}

#title {
    color: rgb(8, 228, 100);
    animation: name 4s ease 0s 1 normal forwards;
}

#headshot {
    width: 200px;
    border-radius: 25%;
    filter:grayscale(100%) contrast(1.3);
}
/*Introduction*/
#intro {
    background:url('backgrounds/DSC_0395.JPG') no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    filter:grayscale(50%) contrast(1.4);
    
}

#intro .content {
    width: 80%;
    font-size: 20px;
    padding:50px;
    color: rgba(255,255,255,1);
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);    
}
/*Skills*/
#skills {
    background: rgb(50, 185, 106);
    padding-bottom:60px;
}

#skills .content {
    color: rgba(255,255,255,1);
    width: 80%;
    padding: 50px 0 100px 0;
}

#skills .content .exp-bullet {
    background: rgb(69, 69, 69);
    border: 1px solid rgb(0, 0, 0);
    transition: background 1s ease;
    cursor: pointer;
}

#skills .content .exp-bullet:hover {
    background:rgba(69, 69, 69, 0.8);
}

.bar-container {
    margin-bottom: 20px;
}

.bar {
    height: 50px;
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    text-align: left;
    line-height:50px;
    color: rgb(0, 0, 0);
}

.bar .label {
    margin-left: 10px;
    color: rgb(50, 185, 106);
    font-weight: bold;
}



/*Experience*/
#experience {
    background:rgba(69, 69, 69, 1);
    padding-bottom: 40px;
}
#experience .content {
    color: rgb(0, 0, 0);
    width: 80%;
    padding: 50px;
    background: rgba(255,255,255, 1);
    border-radius: 5px;
    position: relative;
    bottom:65px;
    box-shadow: 4px 3px 10px -3px rgba(0,0,0,0.75);
}



.slider {
    height: 600px;
    text-align: center;
}

#experience .content .slider {
    height: auto;  
}

#experience .content .slider-controls {
    bottom: 200px;
}

#experience .content .slider .timeperiod {
    margin-bottom: 20px;
}

.slider .logo {
    height: 200px;
}

.slider .company {
    font-size: 30px;
}

.slider .description {
    font-style: italic;
}

.slider-controls {
    position: relative;
    font-size: 50px;
    top: 150px;
}

.slider-controls .prev {
    float:left;
    cursor:pointer;
    position: relative;
    right: 25px;
}

.slider-controls .next {
    float:right;
    cursor:pointer;
    position: relative;
    left: 25px;
}

.exp-bullet {
    background: rgb(14, 148, 59);
    border: 1px solid rgb(5, 85, 39);
    border-radius: 5px;
    padding: 5px;
    margin-left: 2px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    display:inline-block;
}

.job {
    margin-bottom: 20px;
}

.titles {
    font-size: 20px;
    margin-top:20px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

/*Recommendations*/
#recommendations {
    background:url('backgrounds/DSC_0085.JPG') no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    filter:grayscale(50%) contrast(1.4);
    border-top: 1px solid rgb(69, 69, 69);
    
}

#recommendations .content{
    color: rgba(255,255,255, 1);
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);    
    width: 80%;
    padding: 50px;
}

.column {
    width: 30%;
    float:left;
}

.clear {
    clear:both;
}

/*Demos*/
#demos {
    background:rgb(50, 185, 106);
}

#demos .content {
    color: rgba(255,255,255,1);
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    width: 80%;
    padding: 50px;
}

/*Contact*/
#contact {
    background: rgb(5, 85, 39);
}



