:root {
  --footer-color: rgb(0, 0, 0);
  --skills-color: rgb(50, 185, 106);
  --layout: 30% auto 30%;
  --accent-colour: rgb(95, 0, 114);
  --background-colour: rgb(225, 234, 241);
}

.shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

nav {
  width: 100%;
  padding: 12px;
  height: 20px;
  box-shadow: var(--shadow);
}

nav.top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

nav.bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: var(--layout);
  background: rgb(255, 255, 255);
}

nav.bottom.fixed {
  position: fixed;
  top: 0;
}

nav.bottom .avatar {
  text-align: right;
}

.mini-stats {
  position: relative;
  bottom: 9px;
  right: 20px;
  overflow: hidden;
}

.mini-stats .mini-avatar {
  width: 35px;
  border-radius: 50%;
  position: relative;
  bottom: 0;
  transition: bottom 0.5s ease;
}

.mini-stats .mini-avatar.toggled {
  bottom: -42px;
}

.mini-stats .name {
  position: relative;
  bottom: 12px;
  transition: bottom 0.5s ease;
}

.mini-stats .name.toggled {
  bottom: -32px;
}

.headshot {
  border-radius: 50%;
  width: 200px;
  position: relative;
  bottom: 195px;
  border: 5px solid white;
  transition: bottom 0.5s ease;
}

.headshot.toggled {
  bottom: 300px;
}

.cover {
  height: 500px;
  background: url("../images/banner.png");
  background-size: cover;
  background-position-y: center;
}

.container {
  display: grid;
  grid-template-columns: var(--layout);
  background: var(--background-colour);
}

.container .about {
  text-align: right;
}

.container .about .text {
  float: right;
  margin-top: 25px;
  padding: 5px;
  text-align: left;
}

.container .about .text .name {
  font-size: 25px;
  margin-top: 30px;
  font-weight: bold;
}

.container .about .text .nickname {
  color: rgb(69, 69, 69);
  margin-bottom: 15px;
}

.container .about .text ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: rgb(69, 69, 69);
}

.container .content {
  padding: 5px 0;
  margin: 15px;
  background: rgb(255, 255, 255);
}

.content .header ul {
  list-style: none;
  padding: 0;
}

.content .header ul li {
  display: inline;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}

.content .header ul li:hover {
  color: var(--accent-colour);
}

.footer .articles {
  float: left;
  margin: 15px 0;
}

.footer p {
  clear: both;
}

.articles {
  background: rgb(255, 255, 255);
}

.articles .article {
  border-top: 1px solid var(--background-colour);
  padding: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 55px auto;
}

.articles .article:hover {
  background: rgba(207, 237, 255, 0.5);
}

.articles .article .avatar .mini {
  width: 45px;
  border-radius: 50%;
}

.post .header .name {
  font-weight: bold;
}

.post .header .nickname {
  color: rgb(69, 69, 69);
}

.post .header .date {
  color: rgb(69, 69, 69);
}

.hashtags {
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
  color: var(--accent-colour);
  font-weight: bold;
}

.hashtags li {
  display: inline;
}
